<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportRuntime version="v4.0" sku=".NETFramework, Version=v4.6.1" />
    </startup>

    <appSettings>
        <add key="PathToPlaceLog" value="\log\"/>   
        <add key="PathToDeleteFile" value="documents\dir\subdir"/>  
        <add key="DaysToKeepFile" value="5"/>  
    </appSettings>
</configuration>